doctype html
html
  head
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Finlandica:ital@1&family=Lato:ital@1&display=swap" rel="stylesheet">
    style
      include ../static/style.css
  body 
    //- nav#navbar 
    //-   div#logo
    //-     img(src="../static/img/logo.jpg")
    //-     h1 ALR  

    //-     ul 
    //-         li #[a(href="/") Home] 
    //-         li #[a(href="/") Gallery]
    //-         li #[a(href="/") About Us]
    //-         li #[a(href="/") Contact Us]
    //-         li #[a(href="/") Schedule Info]

    section#introSection 
      div#cnter 
        div.cnter2
          h1 Welcome to ALR Dance Academy
          header Our New Batch is starting from 1 August <br>Registration is starting on 4 july and end on 31 july</br>So we are exited to teach you 
          header APPLY NOW  
        div#btn 
            button.btn1 #[a(href="/") APPLY HERE]

    section#Gallerysection 
      div#cnter3
        h1 Gallery 
        div.g-images
          

    section#Form 
      |Application Form

    section#Contactus
      |contact us
      
    footer#footer 
      div.cnter-n
        h1 ALR Dance Academy.
        p Copyright © 2022 ALR Dance Academy, Inc.
    script
      include ../static/index.js